venv/
venv
.venv

airdialogpt-finetuned
airdialogpt-finetuned/
.airdialogpt-finetuned

airdialogue_data_1.3/
airdialogue_data_1.3
.airdialogue_data_1.3

intent-model/
intent-model
.intent-model

airdialogue_data.tar.gz
airdialogue_data.tar
*.gz
*.tar